.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: var(--primary-background-color);
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden;
  transition: width 0.4s ease;
}

.image img {
  width: 100vw;
  height: 100%;
  object-fit: contain;
  position: absolute;
  transition: transform 0.3s ease;

}

.image.left {
  left: 0;
}

.image.right {
  right: 0;
}

.image.left img {
  right: auto;
  left: 0;
}

.image.right img {
  right: 0;
  left: auto;

}

.divider {
  position: absolute;
  top: 0;
  width: 3px;
  height: 100%;
  background: black;
  transform: translateX(-50%);
  transition: left 0.4s ease;
}

.text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
  z-index: 2;
  transition: all 0.3s ease;
}

.left-text {
  left: 5%;
  text-align: left;
}

.right-text {
  right: 5%;
  text-align: right;
}

.text h1 {
  font-size: 4rem;
  margin: 0;
  font-weight: 700;
}

.text p {
  margin-top: 10px;
  color: #111;
  font-size: 1rem;
  line-height: 1.5;
}


@media (max-width: 992px) {
  .text {
    width: 40%;
  }

  .text h1 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .text {
    width: 45%;
  }

  .left-text {
    left: 2%;
  }

  .right-text {
    right: 2%;
  }

  .text h1 {
    font-size: 2.2rem;
  }

  .text p {
    font-size: 0.9rem;
    line-height: 1.4;
  }
}

@media (max-width: 480px) {
  .text {
    width: 47%;
  }

  .text h1 {
    font-size: 1.6rem;
  }

  .text p {
    font-size: 0.8rem;
    margin-top: 5px;
  }
}