#projects {
  padding: 80px 80px;
  box-shadow: -2px -2px 12px 0px #cfcfcf;
}

.projects-heading {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.project-cards {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 10px;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 10px;
  flex-wrap: nowrap;
}

.card {
  scroll-snap-align: start;
  flex: 0 1 auto;
  scroll-behavior: smooth;
}

.project-cards::-webkit-scrollbar {
  display: none;
}


.slider-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 30px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d3d3d3;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.dot.active {
  background-color: #103643;
  transform: scale(1.1);
}

.dot:hover {
  background-color: #999999;
}

.dot.active:hover {
  background-color: #103643;
}